.menu{
  position: sticky;
  top: 0px;
  left: 0px;
  height: 80px;

  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(5,29,53,0.9) 66%);
  z-index: 12;
  box-shadow: 7px 7px 5px rgba(255, 255, 255, 0.04);
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
.logo{
  position: absolute;
  height: 100%;
  width: 80px;
  left: 1vw;
  cursor: pointer;

  display: flex;
  justify-content:center;
  align-items: center;
}
.logo img{
  position: relative;
  width: 80%;
  height: 80%;
  filter: drop-shadow(2px 2px 1px rgba(255, 255, 255, .2));

}
.containerItems{
  position: absolute;
  height: 100%;
  width: 50%;
  left: calc(2vw + 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerItems h3, .containerItems2 h3{
  position: relative;
  display: inline-block;
  margin: 0px;
  margin: 0;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: 0 8px;
  border-left: 3px solid #FF3803;
  text-shadow: 1px 1px 2px rgba(34, 61, 67, .3);
  transition: .5s;
  color: white;
}
.transparentLeftLine{
  border-left: 2px solid transparent!important;
}
.containerItems h3:hover{
  text-shadow: 1px 1px 0px rgba(34, 61, 67, 1);
}
.containerItems2{
  position: absolute;
  height: 100%;
  width: calc(25% - 4vw);
  left: calc(3vw + 75%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerItems2 img{
  width: 40px;
  height: 30px;
  padding: 0 10px;
  filter: drop-shadow(1px 1px rgba(0, 0, 0, 1));
  cursor: pointer;
  transition: filter 0.3s;
}
.containerItems2 img:hover{
  filter: drop-shadow(3px 3px rgba(0, 0, 0, 1));

}
.containerItems2 img:active{
  filter: drop-shadow(1px 1px rgba(0, 0, 0, 1));
}
.container_logout{
  position: absolute;
  right: 0px;
  top: 80px;
  height: 65px;
  width: 200px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5 );
  box-shadow: 1px 1px 1px white, -1px 0px 1px white;
  display: none;
}
.container_logout h3{
  text-align: center;
  color: white;
  font-weight: 300;
}
.containerItems3{
  position: absolute;
  height: 100%;
  width: calc(25% - 4vw);
  left: calc(3vw + 75%);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.containerItems3 img{
  width: 35px;
  padding: 0 10px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 1));
  cursor: pointer;
}
.containerItems3 img:hover{
  width: 35px;
  padding: 0 10px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
  cursor: pointer;
}
.containerItems3 img:nth-child(2){
  width: 28px;
  padding: 0 10px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 1));
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1136px) {
  .containerItems{
    display: none;
  }
  .containerItems2{
    display: none;
  }
  .containerItems3{
    display: flex;
  }
  .logo{
    width: 45%;
  }
  .logo img{
    position: absolute;
    left: 1vw;
    height: 85%;
    width: auto;
  }
}
.menuMobile{
  position: absolute;
  top: 83px;
  left: 100%;
  height: auto;
  width: 300px;
  background-color: rgba(255,255,255,.6);
  z-index: 12;
  border-bottom-left-radius: 5px;
  transition: .5s ease-in-out;
}
.menuMobile h3{
  position: relative;
  margin: 0px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding: 6px 8px;
  background: red;
  border-bottom: 2px solid black;
  text-shadow: 1px 1px 2px rgba(34, 61, 67, .5);
  transition: .5s;
}
.menuMobile h3:nth-child(odd){
  background-color: #8DA8A5;
}
.transparentBottonLine{
  border-bottom: 1px solid transparent!important;
  border-bottom-left-radius: 5px;
}
.menuMobile h3:hover{
  text-shadow: 1px 1px 0px rgba(34, 61, 67, 1);
}
.showItemsMenuLoginTrue{
  display: none;
}
.border_right_menu{
  border-right: 2px solid #FF3803;

}
