.register{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 13;
}
.containerRegister{
  width: 330px;
  height: 430px;
  max-height: 90vh;
  /*overflow-y: scroll;*/

  background: rgba(30,54,81,.7);
  background: linear-gradient(180deg, rgba(30,54,81,.98) 57%, rgba(47,67,90,.98) 100%);
  box-shadow: 0px 0px  29px #1B2737,  -0px -0px  29px #1B2737;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  transform: perspective(600px) rotateY(-180deg);
  backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
  transition: transform 1s linear .1s;
}
.headRegister{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 80px;
  background: rgba(106,108,110, .1);
  background: linear-gradient(90deg, rgba(106,108,110,.8) 0%, rgba(141,169,167,.8) 50%, rgba(106,108,110,.8) 100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px  5px black;
}
.headRegisterContainer{
  position: relative;
  width: 100%;
  height: 100%;
}
.headRegisterContainer h1{
  position: absolute;
  left: 50%;
  padding: 5px;
  margin: 0px;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: 600;
  color: rgba(255 , 255 , 255 , .8);
  text-shadow: 0px 0px  5px black;
}
.headRegister img{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 30%;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px black)  brightness(.8);
  transition: .4;
}
.headRegister img:hover{
  filter: drop-shadow(1px 1px 3px black)  brightness(.9);
}
.headRegister img:active{
  filter: drop-shadow(1px 1px 1px black)  brightness(.8);
}
.bodyRegister{
  position: absolute;
  top: 85px;
  width: 100%;
  height: 200px;
  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*background-color: rgba(0,0,0,0);*/
}
.bodyRegister label{
  position: relative;
  text-align: center;
  color: white;
  top: 5px 0;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: blue;

  font-size: 1.1em;
  font-weight: 300;
}

.bodyRegister label:nth-child(5){
  position: relative;
  color: white;
  margin: 0;

  font-size: 1.1em;
  font-weight: 300;
}
.bodyRegister a{
  color: white;
}
.bodyRegister input{
  margin-bottom: 6px;
  border-radius: 5px;
  padding: 3px 10px;;
  font-size: 1em;
  background: rgba(255 , 255 , 255 , .8);
}
.bodyRegister button{
  position: relative;
  padding: 4px 14px;
  z-index: 10;
  font-size: 1.1em;
  font-weight: 200;
  border-radius: 5px;
  color: black;
  background-color: #B3C7BF;
  cursor: pointer;
  top: 25px;
}
.bodyRegister input::placeholder{
  position: relative;
  text-align: center;
  padding: 3px 10px;;
  font-size: 0.97em;
  color: rgba(0 , 0 , 0 , .5);
}
.footerRegister{
  position: relative;
  top: 300px;
  padding: 0px;
  width: 100%;
  height: 130px;

  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

  /*background-color: rgba(0,0,0,.06);*/
}
.fontWeightButtonRegister{
  font-weight: 500;
}
.footerRegister h3{
  color: white;
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: 300;
}
.footerRegister h4{
  margin: 5px;
  color: rgba(255 , 255 , 255 , .9);
  border-bottom: 1px solid transparent;

  font-weight: 300;
  cursor: pointer;
  transition: .4s;
}
.footerRegister h4:hover{
  color: rgba(255 , 255 , 255 , 1);
  border-bottom: 1px solid white;
}
