.section_artwork_details{
  position: relative;
  padding: 3vw 0;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title_artwork_details h3{
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: calc(1.8em + 1.8vw);
  font-weight: 200;
  margin: 0 0 3vw 0;
  padding: 0px;
}
.section_my_lanyards p{
  position: relative;
  text-align: left;
  color: white;
}

.back_to_my_lanyards{
  position: absolute;
  top: 30px;
  left: 30px;
  height: 30px;
  width: 30px;
}
.back_to_my_lanyards img{
  position: relative;
  height: 100%;
  width: 100%;
  filter: drop-shadow(1px 1px 3px black);
  transition: all .4s;
  cursor: pointer;
}
.back_to_my_lanyards img:hover{
  filter: drop-shadow(2px 2px 4px black);
}
.back_to_my_lanyards img:active{
  filter: drop-shadow(1px 1px 3px black);
}
.groupBox_artwork_details{
  position: relative;
  min-width: 240px;
  width: 80%;
  overflow-x: scroll;
  left: 50%;
  transform: translateX(-50%);
}
.my_lanyards_left_side{
  position: relative;
  height: 1.44cm;
  width: 21.6cm;
  background: white;
  margin: 20px 0;
  overflow: hidden;
}
.my_lanyards_right_side{
  position: relative;
  height: 1.44cm;
  width: 21.6cm;
  background: white;
  margin: 20px 0;
  overflow: hidden;

}
.my_lanyards_artwork{
  position: relative;
  height: 700px;
  width: 50px;
}

.my_lanyards_left_side img{
  position: relative;

  height: 100%;
  width: 100%;
}
















/**/
