.one-side-25mm{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.twoSidePrinted{
  top: 3%;
  left: 10%;
  opacity: .3;
  transform: rotateY(180deg);
}
.os25-img{
  position: relative;
  top: 0px;
  height: 72.1%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.os25-img img{
  position: relative;
  height: 100%;
  width: auto;
  opacity: 1;
  margin: 0 10px;
}
.os25-clip{
  position: absolute;
  background-color: rgba(0,0,0,.0);
  transform: translateX(-50%);
  height: auto;
  opacity: 1;
  z-index: -1;
}
.os25-clip-10mm{
  top: 70%;
  left: 49.5%;
  width: 7%;
}
.os25-clip-15mm{
  top: 70.5%;
  left: 50.2%;
  width: 7.5%;
}
.os25-clip-20mm{
  top: 71%;
  left: 50.3%;
  width: 8%;
}
.os25-clip-25mm{
  top: 69.8%;
  left: 49.5%;
  width: 8.5%;
}
.os25-clip-30mm{
  top: 70.7%;
  left: 50.5%;
  width: 9.3%;
}

.container-one-side-25mm{
  position: absolute;
  width: 90%;
  height: 100%;
}
.os25-neck{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 63%;
  clip-path: polygon(28% 0.5%, 72% 0.5%, 87.9% 6.9%, 12.1% 6.9%);
}
.os25-left{
  position: absolute;
  top: 4.4%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 100%;
  clip-path: polygon(13%  0%, 28% 0%,  55% 65.2%, 40% 65.2%);
}
.os25-right{
  position: absolute;
  top: 4.4%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 100%;
  clip-path: polygon(88%  0%, 72% 0%,  40% 65.2%, 55% 65.2%);
}





















.one-end-normal-back-25mm{
  position: absolute;
  top: 0.8%;
  left: 50%;
  transform: translateX(-50%) perspective(1vw) rotateX(18deg);
  height: 3.1%;
  width: 26.7%;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}

.one-end-normal-left-25mm{
  position: absolute;
  height: 66.8%;
  width: 5.6%;
  top: 4.3%;
  left: 40.2%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(7.4deg) perspective(7.4vw);
  overflow: hidden;
}

.one-end-normal-right-25mm{
  position: absolute;
  height: 66.8%;
  width: 5.4%;
  top: 4.3%;
  left: 53.6%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(-7.4deg) perspective(7.4vw);
  overflow: hidden;
}

.back-clip-one-end-25mm{
  position: absolute;
  height: 3.8%;
  width: 7%;
  top: 0.8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 130;
}
.back-clip-one-end-25mm img:nth-child(1){
  position: absolute;
  top: 0px;
  left: 36px;
  height: 103%;
  z-index: 131;
  filter: drop-shadow(0px 0px 1px black);
}
.back-clip-one-end-25mm img:nth-child(2){
  position: absolute;
  top: 0px;
  left: -36px;
  height: 103%;
  z-index: 131;
  filter: drop-shadow(0px 0px 1px black);
}






/*-----------------------------------------*/
.artwork-os-normal-left-25mm{
  position: relative;
  height: 100%;
  width: 100%;
}
.artwork-os-normal-right-25mm{
  position: relative;
  height: 100%;
  width: 100%;
}
.artwork-os-normal-right-25mm img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen para cubrir todo el contenedor */
  position: absolute;
  top: 0;
  left: 0;
}
.artwork-os-normal-left-25mm img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen para cubrir todo el contenedor */
  position: absolute;
  top: 0;
  left: 0;
}






.artwork-os-normal-left-25mm-tp{
  position: relative;
  height: 100%;
  width: 100%;
}
.artwork-os-normal-right-25mm-tp{
  position: relative;
  height: 100%;
  width: 100%;
}
.artwork-os-normal-right-25mm-tp img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen para cubrir todo el contenedor */
  position: absolute;
  top: 0;
  left: 0;
}
.artwork-os-normal-left-25mm-tp img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen para cubrir todo el contenedor */
  position: absolute;
  top: 0;
  left: 0;
}
