.one-end-width-attachment-back-15mm{
  position: absolute;
  top: 0.8%;
  left: 50%;
  transform: translateX(-50%) perspective(1vw) rotateX(18deg);
  height: 2.3%;
  width: 26.5%;
  background-color: white;
  border: 1px solid black;
}

.one-end-back-clip-width-attachment-15mm{
  position: absolute;
  height: 2.8%;
  width: 4%;
  top: 0.8%;
  left: 50%;
  transform: translateX(-50%);
}

.one-end-back-clip-width-attachment-15mm img{
  position: absolute;
  top: 0px;
  height: 103%;
  filter: drop-shadow(0px 0px 1px black);
}

.one-end-width-attachment-center-15mm{
  position: absolute;
  height: 23.2%;
  width: 3.8%;
  top: 47.8%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  z-index: 1;
  overflow: hidden;
}

/*This is the attachment thing*/
.one-end-attachment-width-attachment-15mm{
  z-index: 2;
}

.one-end-width-attachment-left-15mm{
  position: absolute;
  height: 43.8%;
  width: 3.8%;
  top: 3.6%;
  left: 41.0%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(11.2deg) perspective(11.2vw);
  overflow: hidden;
}

.one-end-width-attachment-right-15mm{
  position: absolute;
  height: 43.8%;
  width: 3.8%;
  top: 3.6%;
  left: 54.2%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(-11.2deg) perspective(11.2vw);
  overflow: hidden;
}



.one-end-clip-width-attachment-15mm{
  z-index: 10;
}
