
.two-ends-back-20mm{
  position: absolute;
  top: 0.8%;
  left: 50%;
  transform: translateX(-50%) perspective(1vw) rotateX(18deg);
  height: 2.9%;
  width: 26.5%;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}

.two-ends-left-20mm{
  position: absolute;
  height: 67%;
  width: 4.3%;
  top: 4.1%;
  left: 34.5%;
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}
.two-ends-right-20mm{
  position: absolute;
  height: 67%;
  width: 4.3%;
  top: 4.1%;
  left: 60.6%;
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}
.two-ends-back-clip-20mm{
  position: absolute;
  height: 3.5%;
  width: 5%;
  top: 0.8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 130;
}
.two-ends-back-clip-20mm img:nth-child(1){
  position: absolute;
  top: 0px;
  left: 35.3px;
  height: 103%;
  z-index: 131;
  filter: drop-shadow(0px 0px 1px black);
}
.two-ends-back-clip-20mm img:nth-child(2){
  position: absolute;
  top: 0px;
  left: -34.7px;
  height: 103%;
  z-index: 131;
  filter: drop-shadow(0px 0px 1px black);
}
