.teams_conditions{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;

}
.teams_conditions h2 {
  color: white;
}
.teams_conditions p {
  color: white;
}
.teams_conditions h1 {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-top: 10vw;
}
