.teams_conditions{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 8vw 0;
}
.teams_conditions h2 {
  color: white;
}
.teams_conditions p {
  color: white;
}
.teams_conditions h1 {
  color: white;
  text-align: center;
  font-size: 2em;
}
.back_home_from_terms_conditions {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 38px;
  background: red;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  
  flex-wrap: nowrap;
}
.back_home_from_terms_conditions img {
  position: relative;
  height: 100%;

}
.back_home_from_terms_conditions h4 {
  color: white;
}
