.accessories_home{
  position: relative;
  margin-top: 5vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.accessories_home h1{
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: calc(1.8em + 1.8vw);
  font-weight: 200;
  margin: 0 0 3vh 0;
  padding: 0px;
}
.container_accessories_home{
  position: relative;
  width: 90%;
  min-width: 140px;
  background-color: green;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.box_accessories_home{
  perspective-origin: relative;
  min-width: 200px;
  padding: 5vw;
  background-color: gold;
  margin: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
