.accessoriesSection{
  position: relative;
  width: 90%;
  min-height: 330px;
  height: 70%;
  padding: 15px 0;
  margin: 15px 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .1);

  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}
.accessoriesSection h2{
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 1.9em;
  color: white;
  padding-left: 10px;
  margin: 0px 0 5px 0;
}
.accessoriesSection p{
  position: relative;
  text-align: left;
  font-weight: 300;
  font-size: 1em;
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.containers_boxes_accessories{
  position: relative;
  width: 100%;
  height: 70%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Style for the scrollbar in WebKit browsers */
.containers_boxes_accessories::-webkit-scrollbar {
    width: 13px; /* Width of the scrollbar */
}

.containers_boxes_accessories::-webkit-scrollbar-thumb {
    background: #091d2c; /* Dark blue color for the draggable part */
    border-radius: 5px; /* Rounded corners for the draggable part */
    border: 1px solid rgba(255, 255, 255, .5); /* Semi-transparent white border for better contrast */
}

.containers_boxes_accessories::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .4); /* Light grey background color */
    border-radius: 10px; /* Rounded corners for the track */
}

.containers_boxes_accessories::-webkit-scrollbar-thumb:hover {
    background: #132735; /* Darker color when hovering over the scrollbar */
}
.container_boxes_accessories{
  position: relative;
  width: 98%;
  height: 50px;
  background-color: rgba(48, 79, 112, 1);
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;

  display: none;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  border: 2px solid transparent;
}
.container_boxes_accessories:nth-child(1){
  border: 2px solid white;
}
.container_boxes_accessories:active{
  border: 2px solid white;
}
.container_boxes_accessories img{
  position: relative;
  height: 85%;
  margin: 0 5px;
  width: auto;
}
.container_boxes_accessories h3{
  position: relative;
  margin: 0;
  width: 80%;
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 1em;
}
.container_boxes_accessories h4{
  position: relative;
  margin: 0;
  text-align: right;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}
.arrow_accessories{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 15px;
  right: 15%;
}
.arrow_accessories img:hover{
  filter: drop-shadow(2px 2px 3px black);

}
.arrow_accessories img:active{
  filter: drop-shadow(1px 1px 2px black);

}

.arrow_accessories   img{
  position: relative;
  height: 100%;
  width: 100;

  filter: drop-shadow(1px 1px 2px black);
  transition: 1.4s;
}
.hideArrowAccessories{
  visibility: hidden;
}
.subcontainers_boxes_accessories{
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.subcontainer_boxes_accessories{
  position: relative;
  width: 98%;
  height: 50px;

  padding: 5px 10px;
  cursor: pointer;
  margin: 3px 0px;

  background: rgb(72,102,138);

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  border: 1px solid transparent;
}




.subcontainer_boxes_accessories img{
  position: relative;
  height: 100%;
  margin: 0 5px;
  width: auto;
}
.subcontainer_boxes_accessories h3{
  position: relative;
  margin: 0;
  width: 35%;
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 1em;
}
.subcontainer_boxes_accessories h4{
  position: relative;
  margin: 0;
  text-align: right;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}






.plastic_wallet_small img{
  height: 80%;
}
.plastic_wallet_medium img{
  height: 90%;
}
