.artworkSection{
  position: relative;
  width: 90%;
  min-height: 330px;
  height: 70%;
  padding: 15px 0;
  margin: 15px 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .1);

  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;

}
.artworkSection h2{
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 1.9em;
  color: white;
  padding-left: 10px;
  margin: 0px 0 5px 0;
}
.artworkSection p{
  position: relative;
  text-align: left;
  font-weight: 300;
  font-size: 1em;
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.containers_boxes_artwork{
  position: relative;
  width: 100%;
  height: 70%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container_download_files_artwork{
  position: relative;
  width: 100%;
  padding: 1px 1px;
  margin: 3px 0;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}
.container_download_files_artwork a{
  all: unset;
  cursor: pointer;
  padding: 8px 0 0 0;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
  color: white;
}
/* Style for the scrollbar in WebKit browsers */
.artworkSection::-webkit-scrollbar {
    width: 13px; /* Width of the scrollbar */
}

.artworkSection::-webkit-scrollbar-thumb {
    background: #091d2c; /* Dark blue color for the draggable part */
    border-radius: 5px; /* Rounded corners for the draggable part */
    border: 1px solid rgba(255, 255, 255, .5); /* Semi-transparent white border for better contrast */
}

.artworkSection::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .4); /* Light grey background color */
    border-radius: 10px; /* Rounded corners for the track */
}

.artworkSection::-webkit-scrollbar-thumb:hover {
    background: #132735; /* Darker color when hovering over the scrollbar */
}
.container_boxes_artwork{
  position: relative;
  width: 98%;
  background-color: rgba(48, 79, 112, 1);
  padding: 5px 10px 12px 10px;
  margin: 5px 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  border: 2px solid transparent;
}

.container_boxes_artwork p{
  font-size: 0.8em;
}
.container_boxes_artwork:nth-child(1){
  border: 2px solid white;
}
.container_boxes_artwork:active{
  border: 2px solid white;
}
.container_boxes_artwork img{
  position: relative;
  height: 30%;
  margin: 0 5px;
  width: 95%;
}
.container_boxes_artwork h3{
  position: relative;
  margin: 0;
  width: 35%;
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 1em;
}
.container_boxes_artwork h4{
  position: relative;
  margin: 0;
  text-align: right;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}
.image_artwork_rigth_section{
  position: relative;
  width: 195px;
  height: 15px;
  margin: 2px 0px;
  margin-top: 9px;
  border: 1px solid white;
}
.move_artwork_rigth_section{
  position: relative;
  margin: 5px;
  padding: 1px;
  width: 195px;
  border: 1px solid transparent;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.move_artwork_rigth_section_icons{
  position: relative;
  margin: 5px;
  padding: 4px 5px;
  background: rgb(27, 53, 95);
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}
.move_artwork_rigth_section_icons img{
  position: relative;
  height: 15px;
  width: 15px;
}
.rotate_artwork_rigth_section{
  position: relative;
  margin: 5px;
  padding: 1px;
  width: 97.5px;
  border: 1px solid transparent;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.rotate_artwork_rigth_section_icons{
  position: relative;
  margin: 5px;
  padding: 4px 5px;
  background: rgb(27, 53, 95);
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}
.rotate_artwork_rigth_section_icons img{
  position: relative;
  height: 15px;
  width: 15px;
}
.scale_artwork_rigth_section{
  position: relative;
  margin: 5px;
  padding: 5px;
  width: 97.5px;
  border: 1px solid transparent;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.scale_artwork_rigth_section_icons{
  position: relative;
  margin: 5px;
  padding: 4px 5px;
  background: rgb(27, 53, 95);
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}
.scale_artwork_rigth_section_icons img{
  position: relative;
  height: 15px;
  width: 15px;
}
.move_artwork_rigth_section_icons:hover, .rotate_artwork_rigth_section_icons:hover, .scale_artwork_rigth_section_icons:hover{
  border: 1px solid white;
}
/*.move_artwork_rigth_section:hover, .rotate_artwork_rigth_section:hover, .scale_artwork_rigth_section:hover{
  border: 1px solid white;
}*/
.move_artwork_rigth_section p{
  position: relative;
  color: white;
  font-size: 0.8em;
  width: 90%;
  text-align: center;
}
.rotate_artwork_rigth_section p{
  position: relative;
  color: white;
  font-size: 0.8em;
  width: 90%;
  text-align: center;
}
.scale_artwork_rigth_section p{
  position: relative;
  color: white;
  font-size: 0.8em;
  width: 90%;
  text-align: center;
}
