/* Styling for the artwork-final container */
.artwork-final {
    position: relative;
    width: 90%;
    height: 65%;
    min-height: 330px;
    padding: 15px 0;
    margin: 15px 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .1); /* Semi-transparent black background */

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.artwork-final h2 {
    position: relative;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 1.9em;
    color: white;
    padding-left: 10px;
    margin: 0px 0 5px 0;
}

.artwork-final p {
    position: relative;
    text-align: left;
    font-weight: 300;
    font-size: 1em;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

/* Styling for the containers_boxes_artwork-final container */
.containers_boxes_artwork-final {
    position: relative;
    width: 100%;
    height: 60%;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Style for the scrollbar in WebKit browsers */
.containers_boxes_artwork-final::-webkit-scrollbar {
    width: 13px; /* artwork-final of the scrollbar */
}

.containers_boxes_artwork-final::-webkit-scrollbar-thumb {
    background: #091d2c; /* Dark blue color for the draggable part */
    border-radius: 5px; /* Rounded corners for the draggable part */
    border: 1px solid rgba(255, 255, 255, .5); /* Semi-transparent white border for better contrast */
}

.containers_boxes_artwork-final::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .4); /* Light grey background color */
    border-radius: 10px; /* Rounded corners for the track */
}

.containers_boxes_artwork-final::-webkit-scrollbar-thumb:hover {
    background: #132735; /* Darker color when hovering over the scrollbar */
}

/* Styling for the container_boxes_artwork-final container */
.container_boxes_artwork-final {
    position: relative;
    width: 98%;
    height: 40px;
    background-color: rgba(48, 79, 112, 1); /* Solid background color */
    padding: 5px 0;
    margin: 5px 0;
    cursor: pointer;

    display: flex;
    justify-content:space-between;
    flex-direction: row;

    border: 2px solid transparent; /* Transparent border */
}

.container_boxes_artwork-final img {
    width: auto;
    height: 70%;
}

.container_boxes_artwork-final h4 {
    position: relative;
    text-align: justify;

    margin-left: 12px;

    color: white;
    font-weight: 300;
    font-size: 1.1em;
}

.container_boxes_artwork-final h3 {
    position: relative;
    text-decoration: underline;
    margin-right: 7px;
    color: #97A7BB;
    text-align: right;
    font-weight: 300;
    font-size: 0.9em;
}
.container_boxes_artwork-final h3:hover {
  font-weight: 500;
}
