/* Styling for the checkout container */
.checkout {
    position: relative;
    width: 90%;
    height: 65%;
    min-height: 330px;
    padding: 15px 0;
    margin: 15px 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .1); /* Semi-transparent black background */

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.checkout h2 {
    position: relative;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 1.9em;
    color: white;
    padding-left: 10px;
    margin: 0px 0 5px 0;
}

.checkout p {
    position: relative;
    text-align: left;
    font-weight: 300;
    font-size: 1em;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

/* Styling for the containers_boxes_checkout container */
.containers_boxes_checkout {
    position: relative;
    width: 100%;
    height: 70%;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Style for the scrollbar in WebKit browsers */
.containers_boxes_checkout::-webkit-scrollbar {
    width: 13px; /* checkout of the scrollbar */
}

.containers_boxes_checkout::-webkit-scrollbar-thumb {
    background: #091d2c; /* Dark blue color for the draggable part */
    border-radius: 5px; /* Rounded corners for the draggable part */
    border: 1px solid rgba(255, 255, 255, .5); /* Semi-transparent white border for better contrast */
}

.containers_boxes_checkout::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .4); /* Light grey background color */
    border-radius: 10px; /* Rounded corners for the track */
}

.containers_boxes_checkout::-webkit-scrollbar-thumb:hover {
    background: #132735; /* Darker color when hovering over the scrollbar */
}

/* Styling for the container_boxes_checkout container */
.container_boxes_checkout {
    position: relative;
    width: 98%;
    height: 40px;
    background-color: rgba(48, 79, 112, 1); /* Solid background color */
    padding: 5px 0;
    margin: 5px 0;
    cursor: pointer;

    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;

    border: 2px solid transparent; /* Transparent border */
}

.container_boxes_checkout img {
    width: auto;
    height: 70%;
}

.container_boxes_checkout h4 {
    position: relative;
    text-align: left;

    margin-left: 12px;

    color: white;
    font-weight: 300;
    font-size: 1.1em;
}

.container_boxes_checkout h3 {
    position: relative;
    text-decoration: underline;
    text-align: left;

    margin-right: 7px;
    color: #97A7BB;
    font-weight: 300;
    font-size: 0.9em;
}
.colour_total_checkout{
  background: rgb(72,102,138, .3) !important;
}
.container_boxes_checkout h3:hover {
  font-weight: 500;
}
.container_button_boxes_checkout{
  position: relative;
  width: 100%;
  margin-top: 8px;
  display: none;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}
.button_boxes_checkout{
  position: relative;
  display: inline-block;
  width: 40%;
  background: rgba(141, 67, 68, .9);
  color: white;
  font-size: 1em;
  margin: 0 7px 7px 0;
  font-weight: 300;
  padding: 7px 10px;
  cursor: pointer;
}

.containers_boxes_checkout button:nth-child(1){
  background-color: darkblue;
}
.containers_boxes_checkout button:nth-child(2){
  background-color: darkgreen;
}
.containers_boxes_checkout_2{
  position: relative;
  width: 100%;
  margin-bottom: 10px;


  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}



























.preview-checkout-container {
  position: relative;
  width: 90%;
  height: 80%;
  padding: 15px 0;

  background-color: rgba(0, 0, 0, .12);
  box-shadow: 0px 0px 2px black;

  display: none;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.preview_checkout{
  position: relative;
  width: 98%;
  height: 50px;
  background-color: rgba(48, 79, 112, 1);
  padding: 5px 10px;
  margin:  0 0 2px 0;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, .7);
}

.preview_checkout img{
  position: relative;
  height: 85%;
  margin: 0 5px;
  width: auto;
}
.preview_checkout h3{
  position: relative;
  margin: 0;
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 1em;
}
.preview_checkout h4{
  position: relative;
  margin: 0;
  text-align: right;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}



.subcontainers_boxes_preview_checkout{
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.subcontainer_boxes_preview_checkout{
  position: relative;
  width: 85%;

  padding: 5px 10px;
  cursor: pointer;
  margin: 3px 0;

  background: rgb(72,102,138, 1);

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, .5);
}

.subcontainers_boxes_preview_checkout img{
  position: relative;
  height: 100%;
  margin: 0 5px;
  width: auto;
}
.subcontainers_boxes_preview_checkout h3{
  position: relative;
  margin: 0;
  width: 25%;
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 0.9em;
}
.subcontainers_boxes_preview_checkout h4{
  position: relative;
  margin: 0;
  text-align: right;
  color: white;
  font-weight: 300;
  font-size: 0.7em;
}
.arrow_preview_checkout{
  position: relative;
  display: block;
  height: 20px!important;
  width: 20px;
}
