.colour{
  position: relative;
  width: 90%;
  min-height: 330px;
  height: 65%;
  padding: 15px 0;
  margin: 15px 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .1);

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

  display: flex;
}
.colour h2{
  position: relative;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 1.9em;
  color: white;
  padding-left: 10px;
  margin: 0px 0 5px 0;
}
.colour p{
  position: relative;
  text-align: justify;
  font-weight: 300;
  font-size: 1em;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.containers_boxes_colour{
  position: relative;
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container_boxes_colour{
  position: relative;
  width: 98%;
  background-color: rgba(48, 79, 112, 1);
  padding: 5px  0;
  margin: 5px 0;
  cursor: pointer;

  display: flex;
  justify-content:space-between;
  flex-direction: row;

  border: 2px solid transparent;

}
.container_boxes_colour h4{
  position: relative;
  color: white;
  margin: 8px 12px;
  font-weight: 300;
  font-size: 1.1em;
}
.container_boxes_colour h3{
  position: relative;
  color: #97A7BB;
  font-weight: 300;
  font-size: 0.8em;
  margin: 8px 12px;
}















/**/
