.material{
  position: relative;
  width: 90%;
  height: 65%;
  min-height: 330px;
  padding: 15px 0;
  margin: 15px 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .1);

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

  display: flex;
}
.material h2{
  position: relative;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 1.9em;
  color: white;
  padding-left: 10px;
  margin: 0px 0 5px 0;
}
.material p{
  position: relative;
  text-align: left;
  font-weight: 300;
  font-size: 1em;
  width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.containers_boxes_material{
  position: relative;
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Estilo para la barra de desplazamiento en WebKit */
.containers_boxes_material::-webkit-scrollbar {
    width: 13px; /* Ancho de la barra de desplazamiento */
}

.containers_boxes_material::-webkit-scrollbar-thumb {
    background: #091d2c; /* Color azul oscuro para la parte que se mueve */
    border-radius: 5px; /* Radio de borde para hacerla redondeada */
    border: 1px solid rgba(255, 255, 255, .5); /* Borde blanco para un contraste mejor */
}

.containers_boxes_material::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .4); /* Color gris oscuro para el fondo */
    border-radius: 10px; /* Radio de borde para hacerla redondeada */
}

.containers_boxes_material::-webkit-scrollbar-thumb:hover {
    background: #132735; /* Color más oscuro cuando el mouse está encima */
}

.containers_arrow_up_material{
  position: fixed;
  top: 30%;
  left: 50%;
  height: 30px;
  width: 30px;
  transform: translateX(-50%); /* Centra la flecha horizontalmente */
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 90;
  background: orange;
}
.containers_arrow_down_material{
  position: fixed;
  bottom: 5px;
  left: 50%;
  height: 30px;
  width: 30px;
  transform: translateX(-50%); /* Centra la flecha horizontalmente */
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 30;
  background: green;

}
.example{
  position: relative;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  background-color: gold;
  z-index: 9;
}
.container_boxes_material{
  position: relative;
  width: 98%;
  background-color: rgba(48, 79, 112, 1);
  padding: 5px  0;
  margin: 5px 0;
  cursor: pointer;

  display: flex;
  justify-content:space-between;
  flex-direction: row;

  border: 2px solid transparent;
}
.container_boxes_material h4{
  position: relative;
  color: white;
  margin: 8px 12px;
  font-weight: 300;
  font-size: 1.1em;
}
.container_boxes_material h3{
  position: relative;
  color: #97A7BB;
  font-weight: 300;
  font-size: 0.8em;
  margin: 8px 12px;
}















/**/
