.one_two_ends{
  position: relative;
  width: 90%;
  height: 70%;
  min-height: 330px;
  padding: 15px 0;
  margin: 15px 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .1);

  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  display: none;
}
.one_two_ends h2{
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 1.9em;
  color: white;
  padding-left: 10px;
  margin: 0px 0 5px 0;
}
.one_two_ends p{
  position: relative;
  text-align: left;
  font-weight: 300;
  font-size: 1em;
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.containers_boxes_one_two_ends{
  position: relative;
  width: 100%;
  height: 70%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: hidden;
}
.container_boxes_one_two_ends{
  position: relative;
  width: 1
  50%;
  background-color: rgba(48, 79, 112, 1);
  padding: 5px;
  margin: 5px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  overflow: hidden;

  border: 2px solid transparent;
}
.container_boxes_one_two_ends:active{
  border: 2px solid white;
}
.container_boxes_one_two_ends img{
  position: relative;
  width: auto;
  height: 70%;
}
.container_boxes_one_two_ends h3{
  position: relative;
  width: 100%;
  margin: 3px 0px;
  text-align: center;
  color: #97A7BB;
  font-weight: 300;
  font-size: 0.8em;
}
.container_boxes_one_two_ends h4{
  position: relative;
  width: 100%;
  margin: 0;
  margin-top: 8px;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 1.1em;
}
