.provided_information{
  position: relative;
  width: 90%;
  height: 60%;
  min-height: 330px;
  padding: 15px 0;
  margin: 15px 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .1);

  display: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.provided_information h2{
  position: relative;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 1.9em;
  color: white;
  padding-left: 10px;
  margin: 0px 0 5px 0;
}
.provided_information p{
  position: relative;
  text-align: center;
  cursor: pointer;
  font-weight: 300;
  font-size: 1em;
  width: 100%;
  color: white;
  margin: 10px 0;
  padding: 0;
  padding-left: 5px;
}
.containers_boxes_provided_information{
  position: relative;
  width: 100%;
  height: 65%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.box_provided_information{
  position: relative;
  width: 90%;
  left: 50%;
  margin: 5px;
  transform: translateX(-50%);

}
.box_provided_information label{
  position: relative;
  text-align: left;
  color: white;
  margin: 4px 0;
  padding: 4px 0;
  font-weight: 300;
  font-size: 1.1em;
}
.box_provided_information input{
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px 0;
  padding: 5px;
  font-size: 0.9em;
  background: rgba(255, 255, 255, .3);
  color: white;
}
.containers_boxes_provided_information button{
  position: relative;
  padding: 4px 12px;
  height: 42px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 1.1em;
  font-weight: 200 !important;
  border-radius: 5px;
  color: black;
  background-color: #B3C7BF;
  cursor: pointer;
}

.containers_boxes_provided_information::-webkit-scrollbar {
    width: 13px;
}

.containers_boxes_provided_information::-webkit-scrollbar-thumb {
    background: #091d2c;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .5);
}

.containers_boxes_provided_information::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .4);
    border-radius: 10px;
}

.containers_boxes_provided_information::-webkit-scrollbar-thumb:hover {
    background: #132735;
}

.container_boxes_provided_information{
  position: relative;
  width: 98%;
  background-color: rgba(48, 79, 112, 1);
  padding: 5px  0;
  margin: 5px 0;
  cursor: pointer;

  display: flex;
  justify-content:space-between;
  flex-direction: row;

  border: 2px solid transparent;
}
.container_boxes_provided_information h4{
  position: relative;
  color: white;
  margin: 8px 12px;
  font-weight: 300;
  font-size: 1.1em;
}
.container_boxes_provided_information h3{
  position: relative;
  color: #97A7BB;
  font-weight: 300;
  font-size: 0.8em;
  margin: 8px 12px;
}
.boxes_provided_information{
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: rgba(255, 255, 255, .1);
}

.boxes_provided_information_checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
}



/*#map {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 500px;
   width: 90%;
   border-radius: 10px;
 }*/
.result_list {
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0px;
  background: black;
  z-index: 500;
}
.result_list li {
   cursor: pointer;
   padding: 10px;
   margin: 0px 0;
   color: white;
   background: green;

 }
.result_list li:hover {
  background-color: rgba(255,2,0,1);
}
