.chooseCreateLanyard{
  position: relative;
  padding: 7vw 0 4vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chooseCreateLanyard h1{
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: calc(1.8em + 1.8vw);
  font-weight: 200;
  margin: 0 0 3vh 0;
  padding: 0px;
}
.chooseCreateLanyard p{
  position: relative;
  color: white;
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 0 3vw 0;
  width: 60%;
  max-width: 585px;
  text-align: justify;
}
.chooseCreateLanyard  button{
  position: relative;
  padding: calc(0.1vw + 0.1em) calc(3.3vw + 0.3em);
  z-index: 10;
  max-height: 50px;
  font-size: calc(1vw + 1em);
  font-weight: 200;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(136,19,47, 1);
  color: white;
  margin: 3vw 0 0 0;
}
.container_choose_lanyard_information{
  position: relative;
  width: 80%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container_choose_material_information{
  position: relative;
  min-width: 300px;
  width: 45%;
  height: 520px;
  margin: 10px;
  background-color: rgba(25, 61, 116, 0.7);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;

}
.box_material_information{
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 3px 0px;
  box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.5),  -2px 0px 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
/*
.box_material_information:hover{
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
.box_material_information:hover h3{
  color: black;
}*/
.box_material_information_border_top{
  box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.5), 0px -2px 1px rgba(255, 255, 255, 0.5) ;
}
.box_material_information h3{
  position: relative;
  text-align: center;
  padding: 3px 0px;
  margin: 0px;
  font-size: 1.3em;
  font-weight: 300;
  color: white;
}
.box_container_information{
  position: relative;
  min-height: 100%;
  min-width: 100%;
  padding: 1px;

}
.box_information2,
.box_information2_lanyard_type,
.box_information2_width,
.box_information2_side_printed,
.box_information2_clips,
.box_information2_attachment,
.box_information2_accessories,
.box_information2_color_quantity,
.box_information2_artwork_manual,
.box_information2_artwork,
.box_information2_background,
.box_information2_text,
.box_information2_image{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3vw 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.box_information2 img,
.box_information2_lanyard_type img,
.box_information2_width img,
.box_information2_side_printed img,
.box_information2_clips img,
.box_information2_attachment img,
.box_information2_accessories img,
.box_information2_color_quantity img,
.box_information2_artwork_manual img,
.box_information2_artwork img,
.box_information2_background img,
.box_information2_text img,
.box_information2_image img{
  position: relative;
  height: 175px;
  width: auto;
  margin: 15px 0;
  z-index: 10;
}
.box_information2 h3,
.box_information2_lanyard_type h3,
.box_information2_width h3,
.box_information2_side_printed h3,
.box_information2_clips h3,
.box_information2_attachment h3,
.box_information2_accessories h3,
.box_information2_color_quantity h3,
.box_information2_artwork_manual h3,
.box_information2_artwork h3,
.box_information2_background h3,
.box_information2_text h3,
.box_information2_image h3{
  position: relative;
  color: white;
  font-size: calc(1.1em + 1.1vw);
  font-weight: 300;
  margin: 0;
}
.box_information2 p,
.box_information2_lanyard_type p,
.box_information2_width p,
.box_information2_side_printed p,
.box_information2_clips p,
.box_information2_attachment p,
.box_information2_accessories p,
.box_information2_color_quantity p,
.box_information2_artwork_manual p,
.box_information2_artwork p,
.box_information2_background p,
.box_information2_text p,
.box_information2_image p{
  position: relative;
  color: white;
  width: 80%;
  text-align: center;
  font-size: calc(0.7em + 0.7vw);
  font-weight: 200;
  margin: 0px;
  margin: 15px 0;
}
.box_information2 h1,
.box_information2_lanyard_type h1,
.box_information2_width h1,
.box_information2_side_printed h1,
.box_information2_clips h1,
.box_information2_attachment h1,
.box_information2_accessories h1,
.box_information2_color_quantity h1,
.box_information2_artwork_manual h1,
.box_information2_artwork h1,
.box_information2_background h1,
.box_information2_text h1,
.box_information2_image h1{
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: calc(1.5em + 1.5vw);
  font-weight: 300;
  margin: 0 0 0 0;
  padding: 0px;
}
.arrows_container_information,
.arrows_container_information_lanyard_type,
.arrows_container_information_width,
.arrows_container_information_side_printed,
.arrows_container_information_clips,
.arrows_container_information_attachment,
.arrows_container_information_accessories,
.arrows_container_information_color_quantity,
.arrows_container_information_artwork_manual,
.arrows_container_information_artwork,
.arrows_container_information_background,
.arrows_container_information_text,
.arrows_container_information_image{
  position: absolute;
  width: 90%;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.arrows_container_information img,
.arrows_container_information_lanyard_type img,
.arrows_container_information_width img,
.arrows_container_information_side_printed img,
.arrows_container_information_clips img,
.arrows_container_information_attachment img,
.arrows_container_information_accessories img,
.arrows_container_information_color_quantity img,
.arrows_container_information_artwork_manual img,
.arrows_container_information_artwork img,
.arrows_container_information_background img,
.arrows_container_information_text img,
.arrows_container_information_image img{
  position: relative;
  width: 25px;
  cursor: pointer;
  filter: drop-shadow( 1px 1px 0px black);
}
.arrows_container_information img:hover,
.arrows_container_information_lanyard_type img:hover,
.arrows_container_information_width img:hover,
.arrows_container_information_side_printed img:hover,
.arrows_container_information_clips img:hover,
.arrows_container_information_attachment img:hover,
.arrows_container_information_accessories img:hover,
.arrows_container_information_color_quantity img:hover,
.arrows_container_information_artwork_manual img:hover,
.arrows_container_information_artwork img:hover,
.arrows_container_information_background img:hover,
.arrows_container_information_text img:hover,
.arrows_container_information_image img:hover{
  filter: drop-shadow( 2px 2px 1px black);
}
.arrows_container_information img:active,
.arrows_container_information_lanyard_type img:active,
.arrows_container_information_width img:active,
.arrows_container_information_side_printed img:active,
.arrows_container_information_clips img:active,
.arrows_container_information_attachment img:active,
.aarrows_container_information_accessories img:active,
.arrows_container_information_color_quantity img:active,
.arrows_container_information_artwork_manual img:active,
.arrows_container_information_artwork img:active,
.arrows_container_information_background img:active,
.arrows_container_information_text img:active,
.arrows_container_information_image img:active{
  filter: drop-shadow( 1px 1px 1px black);
}
.box_information2_background_colours{
  position: relative;
  height: 175px;
  width: 60%;
  margin: 1px 0;
  background-color: blue;

  display: flex;
  justify-content: center;
  flex-direction: row;
}
.box_information2_background_colours_black{
  position: relative;
  height: 180px;
  width: 100px;
  background-color: black;
}
.box_information2_background_colours_white{
  position: relative;
  height: 180px;
  width: 100px;
  background-color: white;
}
.box_information2_background_colours_red{
  position: relative;
  height: 180px;
  width: 100px;
  background-color: red;
}
.box_information2_background_colours_blue{
  position: relative;
  height:180px;
  width: 100px;
  background-color: blue;
}
.box_information2_background_colours_lime{
  position: relative;
  height: 180px;
  width: 100px;
  background-color: lime;
}
.color-picker-container {
  margin: 25px auto;
  max-width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.color-picker-container-information label { //pendiente..............................centrar
 font-size: 16px;
 margin-bottom: 10px;
 display: block;
 color: #333;
}
