.best_seller{
  position: relative;
  padding: 5vw 0 4vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7vw 0 3vw 0;

  background-color: rgba( 25, 61, 116, 0.7);
}

.title_best_seller{
  position: relative;
  padding: 1px;
  margin: 20px 0;
  z-index: 20;
}
.title_best_seller h1{
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: calc(1.8em + 1.8vw);
  font-weight: 200;
  margin: 0;
  padding: 0px;
}
.container_best_seller{
  position: relative;
  width: 80%;
  padding: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.img_best_seller{
  position: relative;
  width: 25%;
  padding: 1px;
  margin: 20px 0;
  z-index: 20;
}
.img_best_seller img{
  position: relative;
  width: 100%;
  padding: 1px;
  margin: 0px;
  border-radius: 50%;
}
.button_best_seller{
  position: relative;
  width: 100%;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.button_best_seller button{
  position: relative;
  padding: calc(0.1vw + 0.1em) calc(3.3vw + 0.3em);
  z-index: 10;
  max-height: 50px;
  font-size: calc(1vw + 1em);
  font-weight: 300;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  font-size: calc(0.8em + 0.8vw);
}
