.previewAccessories{
  display: block;
}
.accessories_clear_plastic_closed_face{
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  display: none;
}
.accessories_clear_plastic_closed_face img{
  position: relative;
  height: 100%;
  width: 100%;
}
.small_accessory{
  width: 21%;

}
.medium_accessory{
  width: 23%;

}
.big_accessory{
  width: 25%;
}
.small_accessory_other{
  width: 10%;
}
.medium_accessory_other{
  width: 20%;
}
