.preview-template-artwork-section{
  position: absolute;

  width: 100%;
  height: 95%;
  padding: 15px 0;

  box-shadow: 0px 0px 2px black;
}
.super-lanyard-artwork{
  position: absolute;
  top: 4.0%;
  left: 50%;
  transform: translateX(-50%);
  height: 7.2cm;
  width: 105px;
  background-color: green;
}

/* 10mm */
.left-super-lanyard-one-end-10mm-template-artwork {
  position: absolute;
  top: 50%;
  left: 45.3%;
  height: 6.08cm;
  width: 0.096cm;
  overflow: hidden;
  transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
  background: brown;
}

.right-super-lanyard-one-end-10mm-template-artwork {
  position: absolute;
  top: 50%;
  right: 45.3%;
  height: 6.08cm;
  width: 0.096cm;
  overflow: hidden;
  transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
  background: brown;

}

/* 15mm */
.left-super-lanyard-one-end-15mm-template-artwork {
  position: absolute;
  top: 50%;
  left: 43.8%;
  height: 6.08cm;
  width: 0.176cm;

  transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
  overflow: hidden;
}

.right-super-lanyard-one-end-15mm-template-artwork {
  position: absolute;
  top: 50%;
  right: 43.8%;
  height: 6.08cm;
  width: 0.176cm;

  transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
  overflow: hidden;
}






/* 20mm */
.left-super-lanyard-one-end-20mm-template-artwork {
  position: absolute;
  top: 50%;
  left: 42.3%;
  height: 6.08cm;
  width: 0.256cm;
  overflow: hidden;
  transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
}

.right-super-lanyard-one-end-20mm-template-artwork {
  position: absolute;
  top: 50%;
  right: 42.3%;
  height: 6.08cm;
  width: 0.256cm;
  overflow: hidden;
  transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
}


/* 25mm */
.left-super-lanyard-one-end-25mm-template-artwork {
  position: absolute;
  top: 50%;
  left: 40.8%;
  height: 6.08cm;
  width: 0.336cm;

  transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
  overflow: hidden;
}

.right-super-lanyard-one-end-25mm-template-artwork {
  position: absolute;
  top: 50%;
  right: 40.8%;
  height: 6.08cm;
  width: 0.336cm;

  transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
  overflow: hidden;
}










/* 30mm */
.left-super-lanyard-one-end-30mm-template-artwork {
position: absolute;
top: 50%;
left: 39.6%;
height: 6.08cm;
width: 0.416cm;


transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
overflow: hidden;
}

.right-super-lanyard-one-end-30mm-template-artwork {
position: absolute;
top: 50%;
right: 39.6%;
height: 6.08cm;
width: 0.416cm;


transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
overflow: hidden;
}

/**/














.left-super-lanyard-two-end-10mm-template-artwork {
position: absolute;
top: 50%;
left: 10.2%;
height: 6.08cm;
width: 0.096cm;


transform:   translateY(-50%);
overflow: hidden;
}

.right-super-lanyard-two-end-10mm-template-artwork {
position: absolute;
top: 50%;
right: 10.2%;
height: 6.08cm;
width: 0.096cm;


transform:   translateY(-50%);
overflow: hidden;
}



/* 15mm */
.left-super-lanyard-two-end-15mm-template-artwork {
position: absolute;
top: 50%;
left: 10.2%;
height: 6.08cm;
width: 0.176cm;

transform:   translateY(-50%);
overflow: hidden;
}

.right-super-lanyard-two-end-15mm-template-artwork {
position: absolute;
top: 50%;
right: 10.2%;
height: 6.08cm;
width: 0.176cm;

transform:   translateY(-50%);
overflow: hidden;
}






/* 20mm */
.left-super-lanyard-two-end-20mm-template-artwork {
position: absolute;
top: 50%;
left: 10.2%;
height: 6.08cm;
width: 0.256cm;


transform:   translateY(-50%);
overflow: hidden;
}

.right-super-lanyard-two-end-20mm-template-artwork {
position: absolute;
top: 50%;
right: 10.2%;;
height: 6.08cm;
width: 0.256cm;


transform:   translateY(-50%);
overflow: hidden;
}






/* 25mm */
.left-super-lanyard-two-end-25mm-template-artwork {
position: absolute;
top: 50%;
left: 10.2%;
height: 6.08cm;
width: 0.336cm;


transform:   translateY(-50%);
overflow: hidden;
}

.right-super-lanyard-two-end-25mm-template-artwork {
position: absolute;
top: 50%;
right: 10.2%;
height: 6.08cm;
width: 0.336cm;


transform:   translateY(-50%);
overflow: hidden;
}





/* 25mm */
.left-super-lanyard-two-end-30mm-template-artwork {
position: absolute;
top: 50%;
left: 10.2%;
height: 6.08cm;
width: 0.416cm;
transform:   translateY(-50%);
overflow: hidden;
}

.right-super-lanyard-two-end-30mm-template-artwork {
position: absolute;
top: 50%;
right: 10.2%;
height: 6.08cm;
width: 0.416cm;
transform:   translateY(-50%);
overflow: hidden;
}










.left-super-lanyard-one-end-10mm-attachment-template-artwork{
position: absolute;
top: 50%;
left: 45.3%;
height: 6.08cm;
width: 0.096cm;
overflow: hidden;
transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
}
.right-super-lanyard-one-end-10mm-attachment-template-artwork{
position: absolute;
top: 50%;
right: 45.3%;
height: 6.08cm;
width: 0.096cm;
overflow: hidden;
transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
}

.center-super-lanyard-one-end-10mm-attachment-template-artwork{
position: absolute;
height: calc(2cm - 0.56cm);
width: 0.096cm;
bottom: 0.56cm;
left: 50%;

transform: translateX(-50%);
z-index: 0;
overflow: hidden;
overflow: hidden;
}









.center-super-lanyard-one-end-15mm-attachment-template-artwork{
position: absolute;
height: calc(2cm - 0.56cm);
width: 0.165cm;
bottom: 0.56cm;
left: 50%;
transform: translateX(-50%);

z-index: 0;
overflow: hidden;
}
.left-super-lanyard-one-end-15mm-attachment-template-artwork{
position: absolute;
top: 50%;
left: 43.8%;
height: 6.08cm;
width: 0.176cm;

transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
overflow: hidden;
}
.right-super-lanyard-one-end-15mm-attachment-template-artwork{
position: absolute;
top: 50%;
right: 43.8%;
height: 6.08cm;
width: 0.176cm;

transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
overflow: hidden;
}














.center-super-lanyard-one-end-20mm-attachment-template-artwork{
position: absolute;
height: calc(2cm - 0.56cm);
width: 0.24cm;
bottom: 0.56cm;
left: 50%;
transform: translateX(-50%);

z-index: 0;
overflow: hidden;
}
.left-super-lanyard-one-end-20mm-attachment-template-artwork{
position: absolute;
top: 50%;
left: 42.3%;
height: 6.08cm;
width: 0.256cm;
overflow: hidden;
transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
}
.right-super-lanyard-one-end-20mm-attachment-template-artwork{
position: absolute;
top: 50%;
right: 42.3%;
height: 6.08cm;
width: 0.256cm;
overflow: hidden;
transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
}
















.center-super-lanyard-one-end-25mm-attachment-template-artwork{
position: absolute;
height: calc(2cm - 0.56cm);
width: 0.315cm;
bottom: 0.56cm;
left: 50%;
transform: translateX(-50%);

z-index: 0;
overflow: hidden;
}
.left-super-lanyard-one-end-25mm-attachment-template-artwork{
position: absolute;
top: 50%;
left: 40.8%;
height: 6.08cm;
width: 0.336cm;

transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
overflow: hidden;
}
.right-super-lanyard-one-end-25mm-attachment-template-artwork{
overflow: hidden;
position: absolute;
top: 50%;
right: 40.8%;
height: 6.08cm;
width: 0.336cm;

transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
overflow: hidden;
}














.center-super-lanyard-one-end-30mm-attachment-template-artwork{
position: absolute;
height: calc(2cm - 0.56cm);
width: 0.39cm;
bottom: 0.56cm;
left: 50%;
transform: translateX(-50%);

z-index: 0;
overflow: hidden;
}
.left-super-lanyard-one-end-30mm-attachment-template-artwork{
position: absolute;
top: 50%;
left: 39.6%;
height: 6.08cm;
width: 0.416cm;


transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
overflow: hidden;
}
.right-super-lanyard-one-end-30mm-attachment-template-artwork{
position: absolute;
top: 50%;
right: 39.6%;
height: 6.08cm;
width: 0.416cm;


transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
overflow: hidden;
}
