
  .super-lanyard-artwork{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: none;
  }


  /* 10mm */
  .left-super-lanyard-one-end-10mm-artwork{
    position: absolute;
    top: 0;
    left: 30.2%;
    height: 7.2cm;
    width: 0.096cm;

    background-color: rgba(0, 0 , 100, 1);
    transform:  skewX(7.5deg) perspective(7.5vw) ;
  }
  .right-super-lanyard-one-end-10mm-artwork {
    position: absolute;
    top: 0;
    right: 30.2%;
    height: 7.2cm;
    width: 0.096cm;

    background-color: rgba(0, 0 , 100, 1);
    transform:  skewX(-7.5deg) perspective(7.5vw);
  }




  /* 15mm */
  .left-super-lanyard-one-end-15mm-artwork {
    position: absolute;
    top: 0;
    left: 28.7%;
    height: 7.2cm;
    width: 0.176cm;
    background-color: rgba(0, 0 , 100, 1);
    transform:  skewX(7.5deg) perspective(7.5vw) ;
  }

  .right-super-lanyard-one-end-15mm-artwork {
    position: absolute;
    top: 0;
    right: 28.7%;
    height: 7.2cm;
    width: 0.176cm;
    background-color: rgba(0, 0 , 100, 1);
    transform:  skewX(-7.5deg) perspective(7.5vw) ;
  }






  /* 20mm */
  .left-super-lanyard-one-end-20mm-artwork {
    position: absolute;
    top: 0;
    left: 27.2%;
    height: 7.2cm;
    width: 0.256cm;
    background-color: rgba(0, 0 , 100, 1);
    transform:  skewX(7.5deg) perspective(7.5vw) ;
  }

  .right-super-lanyard-one-end-20mm-artwork {
    position: absolute;
    top: 0;
    right: 27.2%;
    height: 7.2cm;
    width: 0.256cm;
    background-color: rgba(0, 0 , 100, 1);
    transform:  skewX(-7.5deg) perspective(7.5vw) ;
  }






  /* 25mm */
  .left-super-lanyard-one-end-25mm-artwork {
    position: absolute;
    top: 0;
    left: 25.7%;
    height: 7.2cm;
    width: 0.336cm;
    background-color: rgba(0, 0 , 100, 1);
    transform:  skewX(7.5deg) perspective(7.5vw) ;
  }

  .right-super-lanyard-one-end-25mm-artwork {
    position: absolute;
    top: 0;
    right: 25.7%;
    height: 7.2cm;
    width: 0.336cm;
    background-color: rgba(0, 0 , 100, 1);
    transform:  skewX(-7.5deg) perspective(7.5vw) ;
  }










  /* 30mm */
  /* 25mm */
  .left-super-lanyard-one-end-30mm-artwork {
    position: absolute;
    top: 0;
    left: 24.5%;
    height: 7.2cm;
    width: 0.416cm;
    background-color: rgba(0, 0 , 100, 1);
    transform:  skewX(7.5deg) perspective(7.5vw) ;
  }

  .right-super-lanyard-one-end-30mm-artwork {
    position: absolute;
    top: 0;
    right: 24.5%;
    height: 7.2cm;
    width: 0.416cm;
    background-color: rgba(0, 0 , 100, 1);
    transform:  skewX(-7.5deg) perspective(7.5vw) ;
  }

  /**/














  .left-super-lanyard-two-end-10mm-artwork {
    position: absolute;
    top: 0;
    left: 11.0%;
    height: 7.2cm;
    width: 0.096cm;
    background-color: rgba(0, 0 , 100, 1);
  }

  .right-super-lanyard-two-end-10mm-artwork {
    position: absolute;
    top: 0;
    right: 11.0%;
    height: 7.2cm;
    width: 0.096cm;
    background-color: rgba(0, 0 , 100, 1);
  }



  /* 15mm */
  .left-super-lanyard-two-end-15mm-artwork {
    position: absolute;
    top: 0;
    left: 11.5%;
    height: 7.2cm;
    width: 0.176cm;
    background-color: rgba(0, 0 , 100, 1);

  }

  .right-super-lanyard-two-end-15mm-artwork {
    position: absolute;
    top: 0;
    right: 11.5%;
    height: 7.2cm;
    width: 0.176cm;
    background-color: rgba(0, 0 , 100, 1);

  }






  /* 20mm */
  .left-super-lanyard-two-end-20mm-artwork {
    position: absolute;
    top: 0;
    left: 11.5%;
    height: 7.2cm;
    width: 0.256cm;
    background-color: rgba(0, 0 , 100, 1);

  }

  .right-super-lanyard-two-end-20mm-artwork {
    position: absolute;
    top: 0;
    right: 11.5%;;
    height: 7.2cm;
    width: 0.256cm;
    background-color: rgba(0, 0 , 100, 1);

  }






  /* 25mm */
  .left-super-lanyard-two-end-25mm-artwork {
    position: absolute;
    top: 0;
    left: 11.1%;
    height: 7.2cm;
    width: 0.336cm;
    background-color: rgba(0, 0 , 100, 1);

  }

  .right-super-lanyard-two-end-25mm-artwork {
    position: absolute;
    top: 0;
    right: 11.1%;
    height: 7.2cm;
    width: 0.336cm;
    background-color: rgba(0, 0 , 100, 1);

  }






  /* 25mm */
  .left-super-lanyard-two-end-30mm-artwork {
    position: absolute;
    top: 0;
    left: 11%;
    height: 7.2cm;
    width: 0.416cm;
    background-color: rgba(0, 0 , 100, 1);

  }

  .right-super-lanyard-two-end-30mm-artwork {
    position: absolute;
    top: 0;
    right: 11%;
    height: 7.2cm;
    width: 0.416cm;
    background-color: rgba(0, 0 , 100, 1);
  }








    .left-super-lanyard-one-end-10mm-attachment-artwork{
      position: absolute;
      height: 4.5cm;
      width: 0.096cm;
      top: 0%;
      left: 30.2%;
      background-color: purple;
      border: 1px solid black;
      transform:  skewX(11.3deg) perspective(11.3vw);
      z-index: 0;
    }

    .right-super-lanyard-one-end-10mm-attachment-artwork{
      position: absolute;
      height: 4.5cm;
      width: 0.096cm;
      top: 0%;
      right: 30.2%;
      background-color: purple;
      border: 1px solid black;
      transform:  skewX(-11.3deg) perspective(11.3vw);
      z-index: 0;
    }

    .center-super-lanyard-one-end-10mm-attachment-artwork{
      position: absolute;
      height: 2cm;
      width: 0.096cm;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: purple;
      border: 1px solid black;
      z-index: 0;
      overflow: hidden;
    }



    .left-super-lanyard-one-end-15mm-attachment-artwork{
      position: absolute;
      height: 4.5cm;
      width: 0.176cm;
      top: 0%;
      left: 28.7%;
      background-color: purple;
      border: 1px solid black;
      transform:  skewX(11.3deg) perspective(11.3vw);
      z-index: 0;
    }
    .right-super-lanyard-one-end-15mm-attachment-artwork{
      position: absolute;
      height: 4.5cm;
      width: 0.176cm;
      top: 0%;
      right: 28.7%;
      background-color: purple;
      border: 1px solid black;
      transform:  skewX(-11.3deg) perspective(11.3vw);
      z-index: 0;
    }
    .center-super-lanyard-one-end-15mm-attachment-artwork{
      position: absolute;
      height: 2cm;
      width: 0.176cm;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: purple;
      border: 1px solid black;
      z-index: 0;
      overflow: hidden;
    }













    .left-super-lanyard-one-end-20mm-attachment-artwork{
      position: absolute;
      height: 4.5cm;
      width: 0.256cm;
      top: 0%;
      left: 27.2%;
      background-color: purple;
      border: 1px solid black;
      transform:  skewX(11.3deg) perspective(11.3vw);
      z-index: 0;
    }
    .right-super-lanyard-one-end-20mm-attachment-artwork{
      position: absolute;
      height: 4.5cm;
      width: 0.256cm;
      top: 0%;
      right: 27.2%;
      background-color: purple;
      border: 1px solid black;
      transform:  skewX(-11.3deg) perspective(11.3vw);
      z-index: 0;
    }
    .center-super-lanyard-one-end-20mm-attachment-artwork{
      position: absolute;
      height: 2cm;
      width: 0.256cm;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: purple;
      border: 1px solid black;
      z-index: 0;
      overflow: hidden;
    }















    .left-super-lanyard-one-end-25mm-attachment-artwork{
      position: absolute;
      height: 4.5cm;
      width: 0.336cm;
      top: 0%;
      left: 25.7%;
      background-color: purple;
      border: 1px solid black;
      transform:  skewX(11.3deg) perspective(11.3vw);
      z-index: 0;
    }
    .right-super-lanyard-one-end-25mm-attachment-artwork{
      position: absolute;
      height: 4.5cm;
      width: 0.336cm;
      top: 0%;
      right: 25.7%;
      background-color: purple;
      border: 1px solid black;
      transform:  skewX(-11.3deg) perspective(11.3vw);
      z-index: 0;
    }
    .center-super-lanyard-one-end-25mm-attachment-artwork{
      position: absolute;
      height: 2cm;
      width: 0.336cm;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: purple;
      border: 1px solid black;
      z-index: 0;
      overflow: hidden;
    }













    .left-super-lanyard-one-end-30mm-attachment-artwork{
      position: absolute;
      height: 4.5cm;
      width: 0.416cm;
      top: 0%;
      left: 24.2%;
      background-color: purple;
      border: 1px solid black;
      transform:  skewX(11.3deg) perspective(11.3vw);
      z-index: 0;
    }
    .right-super-lanyard-one-end-30mm-attachment-artwork{
      position: absolute;
      height: 4.5cm;
      width: 0.416cm;
      top: 0%;
      right: 24.2%;
      background-color: purple;
      border: 1px solid black;
      transform:  skewX(-11.3deg) perspective(11.3vw);
      z-index: 0;
    }
    .center-super-lanyard-one-end-30mm-attachment-artwork{
      position: absolute;
      height: 2cm;
      width: 0.416cm;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: purple;
      border: 1px solid black;
      z-index: 0;
      overflow: hidden;
    }









    /**/
