.container-preview-template{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 320px;
  width: 200px;
  background: rgba(255, 0, 0, .35);
}

/* 10mm */
.left-super-lanyard-one-end-10mm{
  position: relative;

  position: absolute;
  height: 68.3%;
  width: 2.8%;
  top: 2.8%;
  left: 41.6%;
  background-color: red;
  border: 1px solid black;
  transform:  skewX(7.5deg) perspective(7.5vw);
  overflow: hidden;
}
