.container-preview-template{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 320px;
  width: 200px;
  background: rgba(255, 0, 0, .35);
}

/* 10mm */
.left-super-lanyard-one-end-10mm{

  position: absolute;
  height: 5.7cm;
  width: 0.09cm;
  top: 8%;
  left: 39.25%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(7.5deg) perspective(7.5vw);
}
