.previewArtwork{
  position: relative;
  height:100%;
  width: 100%;
  display: none;
}
.container-previewArtwork{
  position: relative;
  height:100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .12);
  index: 5;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

}
.box-previewArtwork{
  position: relative;
  width: 45%;
  height: 70%;
  margin: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.lanyard-artwork{
  position: relative;
  width: 290px;
  height: 8px;
  border: 1px solid white;
}
.box-previewArtwork h2{
  position: relative;
  margin: 0;
  text-align: left;
  color: rgba(255, 255, 255, .7);
  font-size: 1.2em;
  text-shadow: 2px 2px 0px rgba(0,0,0,.5);
  font-weight: 300;
}


.measures-previewArtwork-long{
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 5%;
  border-top: 1px dashed white;
  border-right: 1px dashed white;
  border-left: 1px dashed white;
}
  .measures-previewArtwork-long h4{
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding:  0.5px;
    color: rgba(24, 41, 66, 1);
    font-size: 0.95em;
    font-weight: 900;
  }
  .measures-previewArtwork-width{
    position: absolute;
    top: 65%;
    left: 96%;
    width: 1.6%;
    height: 20px;
    border-top: 1px dashed white;
    border-right: 1px dashed white;
    border-bottom: 1px dashed white;
  }
 .measures-previewArtwork-width h4{
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translateX(-83%);
   margin: 0;
   padding:  0.5px;
   color: rgba(24, 41, 66, 1);
   font-size: 0.95em;
   font-weight: 900;
 }
