

  /* Manual */
      .super-lanyard-manual{
        position: absolute;
        top: 23.2%;
        left: 50%;
        transform: translateX(-50%);
        height: 7.2cm;
        width: 100px;
}

      /* 10mm */
      .left-super-lanyard-one-end-10mm-manual {
        position: absolute;
        top: 50%;
        left: 45.3%;
        height: 6.08cm;
        width: 0.096cm;
        background: white;
        transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
}

      .right-super-lanyard-one-end-10mm-manual {
        position: absolute;
        top: 50%;
        right: 45.3%;
        height: 6.08cm;
        width: 0.096cm;
        background: white;
        transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
}

      /* 15mm */
      .left-super-lanyard-one-end-15mm-manual {
        position: absolute;
        top: 50%;
        left: 43.8%;
        height: 6.08cm;
        width: 0.176cm;

        transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
        overflow: hidden;
}

      .right-super-lanyard-one-end-15mm-manual {
        position: absolute;
        top: 50%;
        right: 43.8%;
        height: 6.08cm;
        width: 0.176cm;

        transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
        overflow: hidden;
}






      /* 20mm */
      .left-super-lanyard-one-end-20mm-manual {
        position: absolute;
        top: 50%;
        left: 42.3%;
        height: 6.08cm;
        width: 0.256cm;

        transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
        overflow: hidden;
}

      .right-super-lanyard-one-end-20mm-manual {
        position: absolute;
        top: 50%;
        right: 42.3%;
        height: 6.08cm;
        width: 0.256cm;

        transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
        overflow: hidden;
}


      /* 25mm */
      .left-super-lanyard-one-end-25mm-manual {
        position: absolute;
        top: 50%;
        left: 40.8%;
        height: 6.08cm;
        width: 0.336cm;

        transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
        overflow: hidden;
}

      .right-super-lanyard-one-end-25mm-manual {
        position: absolute;
        top: 50%;
        right: 40.8%;
        height: 6.08cm;
        width: 0.336cm;

        transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
        overflow: hidden;
}










/* 30mm */
.left-super-lanyard-one-end-30mm-manual {
  position: absolute;
  top: 50%;
  left: 39.6%;
  height: 6.08cm;
  width: 0.416cm;


  transform:  skewX(7.5deg) perspective(7.5vw) translateY(-50%);
  overflow: hidden;
}

.right-super-lanyard-one-end-30mm-manual {
  position: absolute;
  top: 50%;
  right: 39.6%;
  height: 6.08cm;
  width: 0.416cm;


  transform:  skewX(-7.5deg) perspective(7.5vw) translateY(-50%);
  overflow: hidden;
}

/**/














.left-super-lanyard-two-end-10mm-manual {
  position: absolute;
  top: 50%;
  left: 10.2%;
  height: 6.08cm;
  width: 0.096cm;


  transform:   translateY(-50%);
  overflow: hidden;
}

.right-super-lanyard-two-end-10mm-manual {
  position: absolute;
  top: 50%;
  right: 10.2%;
  height: 6.08cm;
  width: 0.096cm;


  transform:   translateY(-50%);
  overflow: hidden;
}



/* 15mm */
.left-super-lanyard-two-end-15mm-manual {
  position: absolute;
  top: 50%;
  left: 10.2%;
  height: 6.08cm;
  width: 0.176cm;

  transform:   translateY(-50%);
  overflow: hidden;
}

.right-super-lanyard-two-end-15mm-manual {
  position: absolute;
  top: 50%;
  right: 10.2%;
  height: 6.08cm;
  width: 0.176cm;

  transform:   translateY(-50%);
  overflow: hidden;
}






/* 20mm */
.left-super-lanyard-two-end-20mm-manual {
  position: absolute;
  top: 50%;
  left: 10.2%;
  height: 6.08cm;
  width: 0.256cm;


  transform:   translateY(-50%);
  overflow: hidden;
}

.right-super-lanyard-two-end-20mm-manual {
  position: absolute;
  top: 50%;
  right: 10.2%;;
  height: 6.08cm;
  width: 0.256cm;


  transform:   translateY(-50%);
  overflow: hidden;
}






/* 25mm */
.left-super-lanyard-two-end-25mm-manual {
  position: absolute;
  top: 50%;
  left: 10.2%;
  height: 6.08cm;
  width: 0.336cm;


  transform:   translateY(-50%);
  overflow: hidden;
}

.right-super-lanyard-two-end-25mm-manual {
  position: absolute;
  top: 50%;
  right: 10.2%;
  height: 6.08cm;
  width: 0.336cm;


  transform:   translateY(-50%);
  overflow: hidden;
}





/* 25mm */
.left-super-lanyard-two-end-30mm-manual {
  position: absolute;
  top: 50%;
  left: 10.2%;
  height: 6.08cm;
  width: 0.416cm;
  transform:   translateY(-50%);
  overflow: hidden;
}

.right-super-lanyard-two-end-30mm-manual {
  position: absolute;
  top: 50%;
  right: 10.2%;
  height: 6.08cm;
  width: 0.416cm;
  transform:   translateY(-50%);
  overflow: hidden;
}








.left-super-lanyard-one-end-10mm-attachment-manual{
  position: absolute;
  height: calc(4.5cm - 0.56cm);
  width: 0.096cm;
  top: 0.56cm;
  left: 32.2%;

  border: 1px solid black;
  transform:  skewX(11.3deg) perspective(11.3vw);
  z-index: 0;
overflow: hidden;
}
.right-super-lanyard-one-end-10mm-attachment-manual{
  position: absolute;
  height: calc(4.5cm - 0.56cm);
  width: 0.096cm;
  top: 0.56cm;
  right: 32.2%;

  border: 1px solid black;
  transform:  skewX(-11.3deg) perspective(11.3vw);
  z-index: 0;
overflow: hidden;
}

.center-super-lanyard-one-end-10mm-attachment-manual{
  position: absolute;
  height: calc(2cm - 0.56cm);
  width: 0.096cm;
  bottom: 0.56cm;
  left: 50%;

  transform: translateX(-50%);
  border: 1px solid black;
  z-index: 0;
  overflow: hidden;
overflow: hidden;
}








.center-super-lanyard-one-end-15mm-attachment-manual{
  position: absolute;
  height: calc(2cm - 0.56cm);
  width: 0.165cm;
  bottom: 0.56cm;
  left: 50%;
  transform: translateX(-50%);

  border: 1px solid black;
  z-index: 0;
overflow: hidden;
}
.left-super-lanyard-one-end-15mm-attachment-manual{
  position: absolute;
  height: calc(4.5cm - 0.56cm);
  width: 0.165cm;
  top: 0.56cm;
  left: 31%;

  border: 1px solid black;
  transform:  skewX(11.3deg) perspective(11.3vw);
  z-index: 0;
overflow: hidden;
}
.right-super-lanyard-one-end-15mm-attachment-manual{
  position: absolute;
  height: calc(4.5cm - 0.56cm);
  width: 0.165cm;
  top: 0.56cm;
  right: 31%;

  border: 1px solid black;
  transform:  skewX(-11.3deg) perspective(11.3vw);
  z-index: 0;
overflow: hidden;
}













.center-super-lanyard-one-end-20mm-attachment-manual{
  position: absolute;
  height: calc(2cm - 0.56cm);
  width: 0.24cm;
  bottom: 0.56cm;
  left: 50%;
  transform: translateX(-50%);

  border: 1px solid black;
  z-index: 0;
overflow: hidden;
}
.left-super-lanyard-one-end-20mm-attachment-manual{
  position: absolute;
  height: calc(4.5cm - 0.56cm);
  width: 0.24cm;
  top: 0.56cm;
  left: 29.5%;

  border: 1px solid black;
  transform:  skewX(11.3deg) perspective(11.3vw);
  z-index: 0;
overflow: hidden;
}
.right-super-lanyard-one-end-20mm-attachment-manual{
  position: absolute;
  height: calc(4.5cm - 0.56cm);
  width: 0.24cm;
  top: 0.56cm;
  right: 29.5%;

  border: 1px solid black;
  transform:  skewX(-11.3deg) perspective(11.3vw);
  z-index: 0;
overflow: hidden;
}















.center-super-lanyard-one-end-25mm-attachment-manual{
  position: absolute;
  height: calc(2cm - 0.56cm);
  width: 0.315cm;
  bottom: 0.56cm;
  left: 50%;
  transform: translateX(-50%);

  border: 1px solid black;
  z-index: 0;
  overflow: hidden;
}
.left-super-lanyard-one-end-25mm-attachment-manual{
  position: absolute;
  height: calc(4.5cm - 0.56cm);
  width: 0.315cm;
  top: 0.56cm;
  left: 28.5%;

  border: 1px solid black;
  transform:  skewX(11.3deg) perspective(11.3vw);
  z-index: 0;
  overflow: hidden;
}
.right-super-lanyard-one-end-25mm-attachment-manual{
  position: absolute;
  height: calc(4.5cm - 0.56cm);
  width: 0.315cm;
  top: 0.56cm;
  right: 28.5%;

  border: 1px solid black;
  transform:  skewX(-11.3deg) perspective(11.3vw);
  z-index: 0;
overflow: hidden;
}













.center-super-lanyard-one-end-30mm-attachment-manual{
  position: absolute;
  height: calc(2cm - 0.56cm);
  width: 0.39cm;
  bottom: 0.56cm;
  left: 50%;
  transform: translateX(-50%);

  border: 1px solid black;
  z-index: 0;
overflow: hidden;
}
.left-super-lanyard-one-end-30mm-attachment-manual{
  position: absolute;
  height: calc(4.5cm - 0.56cm);
  width: 0.39cm;
  top: 0.56cm;
  left: 26.7%;

  border: 1px solid black;
  transform:  skewX(11.3deg) perspective(11.3vw);
  z-index: 0;
  overflow: hidden;
}
.right-super-lanyard-one-end-30mm-attachment-manual{
  position: absolute;
  height: calc(4.5cm - 0.56cm);
  width: 0.39cm;
  top: 0.56cm;
  right: 26.7%;

  border: 1px solid black;
  transform:  skewX(-11.3deg) perspective(11.3vw);
  z-index: 0;
overflow: hidden;
}
/**/



.text_lanyard_left {
  background-color: green;
  display: flex;
  flex-direction: column-reverse;
  gap: 90px; /* espacio entre textos rotados */
  align-items: flex-start; /* <== centrado horizontal */
  justify-content: flex-end; /* opcional: centrado vertical */
  height: 100%;
  transform: rotate(0deg);
}
.text_lanyard_right {
  background-color: green;
  display: flex;
  flex-direction: column-reverse;
  gap: 90px; /* espacio entre textos rotados */
  align-items: flex-start; /* <== centrado horizontal */
  justify-content: flex-end; /* opcional: centrado vertical */
  height: 100%;
  transform: rotate(180deg);
}
/* Sin rotación (0 grados) */


.wrap_ex_0{
  position: relative;
  display: inline-block; /* Se ajusta al tamaño del contenido */
  transform-origin: top left;
  background-color: orange;
}

.wrap_ex_0 h1 {
  margin: 0;
  padding: 0;
  width: 100%;

  font-size: 10px;
  font-weight: 300;
  white-space: nowrap;
  transform: rotate(0deg) ;

}

.wrap_ex_1{
  position: relative;
  display: inline-block; /* Se ajusta al tamaño del contenido */
  transform-origin: top left;
  background-color: orange;
  right: 2px;
}


.space_between_text{
  transform: rotate(90deg) translateY(-100%);
}

.wrap_ex_1 h1 {
  margin: 0;
  padding: 0;
  font-size: 6px;
  font-weight: 300;
  white-space: nowrap;
  transform: rotate(180deg) scale(-1, -1);;
}
.rotate-0 {
  transform: none;
}
/* Rotado -90 grados (hacia la izquierda) */
.rotate--90 {
  transform: rotate(90deg) translateX(50%);
}

/* Rotado 90 grados (hacia la derecha) */
.rotate-90 {
  transform: rotate(90deg)  translate(0%, -135%);
  transform-origin: top left;
}

/* Rotado 180 grados (boca abajo) */
.rotate-180 {
  transform: rotate(180deg) translate(-100%, -100%);
  transform-origin: top left;
}
















/**/
