      .preview-template-class{
        position: relative;
        width: 90%;
        height: 80%;
        padding: 15px 0;

        background-color: rgba(0, 0, 0, .12);
        box-shadow: 0px 0px 2px black;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }
      .container-preview-template{
        position: absolute;
        top: 10.0%;
        left: 50%;
        transform: translateX(-50%);
        height: 7.2cm;
        width: 100px;
      /*  display: none;*/
      }
      .super-lanyard{
        position: relative;
        height: 100%;
        width: 100%;
      }

      .top_left_clip img{
        height: 100%;
        width: 100%;

      }
      .top_right_clip img{
        height: 100%;
        width: 100%;
      }




      .top_left_clip-one-end-10mm{
        position: absolute;
        bottom: 101.5%;
        height: 0.3cm;
        width: 0.25cm;
        left: 10.8%;
      }
      .top_right_clip-one-end-10mm{
        position: absolute;
        bottom: 101.5%;
        height: 0.3cm;
        width: 0.25cm;
        right:  9.5%;
      }
      /* 10mm */
      .left-super-lanyard-one-end-10mm{
        position: absolute;
        top: 0;
        left: 29%;
        height: 7.2cm;
        width: 0.16cm;
        border: 1px solid black;
        background-color: white;
        transform:  skewX(7.5deg) perspective(7.5vw) ;
      }
      .right-super-lanyard-one-end-10mm {
        position: absolute;
        top: 0;
        right: 29%;
        height: 7.2cm;
        width: 0.16cm;
        border: 1px solid black;
        background-color: white;
        transform:  skewX(-7.5deg) perspective(7.5vw);
      }


      /* 15mm */
      .top_left_clip-one-end-15mm{
        position: absolute;
        bottom: 101.1%;
        height: 0.35cm;
        width: 0.31cm;
        left: 9.9%;
      }
      .top_right_clip-one-end-15mm{
        position: absolute;
        bottom: 101.1%;
        height: 0.35cm;
        width: 0.31cm;
        right:  8.6%;
      }
      .left-super-lanyard-one-end-15mm {
        position: absolute;
        top: 0;
        left: 27.5%;
        height: 7.2cm;
        width: 0.24cm;
        border: 1px solid black;
        background-color: white;
        transform:  skewX(7.5deg) perspective(7.5vw) ;
      }

      .right-super-lanyard-one-end-15mm {
        position: absolute;
        top: 0;
        right: 27.5%;
        height: 7.2cm;
        width: 0.24cm;
        border: 1px solid black;
        background-color: white;
        transform:  skewX(-7.5deg) perspective(7.5vw) ;
      }






      /* 20mm */
      .top_left_clip-one-end-20mm{
        position: absolute;
        bottom: 100.0%;
        height: 0.43cm;
        width: 0.4cm;
        left: 8.5%;
      }
      .top_right_clip-one-end-20mm{
        position: absolute;
        bottom: 100.0%;
        height: 0.43cm;
        width: 0.4cm;
        right: 7.0%;
      }
      .left-super-lanyard-one-end-20mm {
        position: absolute;
        top: 0;
        left: 26.0%;
        height: 7.2cm;
        width: 0.32cm;
        border: 1px solid black;
        background-color: white;
        transform:  skewX(7.5deg) perspective(7.5vw) ;
      }

      .right-super-lanyard-one-end-20mm {
        position: absolute;
        top: 0;
        right: 26.0%;
        height: 7.2cm;
        width: 0.32cm;
        border: 1px solid black;
        background-color: white;
        transform:  skewX(-7.5deg) perspective(7.5vw) ;
      }





      /* 25mm */
      .top_left_clip-one-end-25mm {
        position: absolute;
        bottom: 99.1%;
        height: 0.5cm;
        width: 0.47cm;
        left: 7.4%;
      }

      .top_right_clip-one-end-25mm {
        position: absolute;
        bottom: 99.1%;
        height: 0.5cm;
        width: 0.47cm;
        right: 5.5%;
      }
      .left-super-lanyard-one-end-25mm {
        position: absolute;
        top: 0;
        left: 24.5%;
        height: 7.2cm;
        width: 0.4cm;
        border: 1px solid black;
        background-color: white;
        transform:  skewX(7.5deg) perspective(7.5vw) ;
      }

      .right-super-lanyard-one-end-25mm {
        position: absolute;
        top: 0;
        right: 24.5%;
        height: 7.2cm;
        width: 0.4cm;
        border: 1px solid black;
        background-color: white;
        transform:  skewX(-7.5deg) perspective(7.5vw) ;
      }










/* 30mm */
/* 25mm */
.top_left_clip-one-end-30mm {
  position: absolute;
  bottom: 99.0%;
  height: 0.6cm;
  width: 0.55cm;
  left: 6.2%;
}

.top_right_clip-one-end-30mm {
  position: absolute;
  bottom: 99.0%;
  height: 0.6cm;
  width: 0.55cm;
  right: 4%;
}
.left-super-lanyard-one-end-30mm {
  position: absolute;
  top: 0;
  left: 23.3%;
  height: 7.2cm;
  width: 0.48cm;
  border: 1px solid black;
  background-color: white;
  transform:  skewX(7.5deg) perspective(7.5vw) ;
}

.right-super-lanyard-one-end-30mm {
  position: absolute;
  top: 0;
  right: 23.3%;
  height: 7.2cm;
  width: 0.48cm;
  border: 1px solid black;
  background-color: white;
  transform:  skewX(-7.5deg) perspective(7.5vw) ;
}

/**/













.top_left_clip-two-end-10mm{
  position: absolute;
  bottom: 101.5%;
  height: 0.3cm;
  width: 0.25cm;
  left: 10.8%;
}
.top_right_clip-two-end-10mm{
  position: absolute;
  bottom: 101.5%;
  height: 0.3cm;
  width: 0.25cm;
  right:  9.5%;
}
.left-super-lanyard-two-end-10mm {
  position: absolute;
  top: 0;
  left: 10%;
  height: 7.2cm;
  width: 0.16cm;
  border: 1px solid black;
  background-color: white;

}

.right-super-lanyard-two-end-10mm {
  position: absolute;
  top: 0;
  right: 10%;
  height: 7.2cm;
  width: 0.16cm;
  border: 1px solid black;
  background-color: white;

}



/* 15mm */

.top_left_clip-two-end-15mm{
  position: absolute;
  bottom: 101.1%;
  height: 0.35cm;
  width: 0.31cm;
  left: 9.9%;
}
.top_right_clip-two-end-15mm{
  position: absolute;
  bottom: 101.1%;
  height: 0.35cm;
  width: 0.31cm;
  right:  8.6%;
}
.left-super-lanyard-two-end-15mm {
  position: absolute;
  top: 0;
  left: 10%;
  height: 7.2cm;
  width: 0.24cm;
  border: 1px solid black;
  background-color: white;

}

.right-super-lanyard-two-end-15mm {
  position: absolute;
  top: 0;
  right: 10%;
  height: 7.2cm;
  width: 0.24cm;
  border: 1px solid black;
  background-color: white;

}






/* 20mm */

.top_left_clip-two-end-20mm{
  position: absolute;
  bottom: 100.0%;
  height: 0.43cm;
  width: 0.4cm;
  left: 8.5%;
}
.top_right_clip-two-end-20mm{
  position: absolute;
  bottom: 100.0%;
  height: 0.43cm;
  width: 0.4cm;
  right: 7.0%;
}
.left-super-lanyard-two-end-20mm {
  position: absolute;
  top: 0;
  left: 10%;
  height: 7.2cm;
  width: 0.32cm;
  border: 1px solid black;
  background-color: white;

}

.right-super-lanyard-two-end-20mm {
  position: absolute;
  top: 0;
  right: 10%;
  height: 7.2cm;
  width: 0.32cm;
  border: 1px solid black;
  background-color: white;

}






/* 25mm */

.top_left_clip-two-end-25mm{
  position: absolute;
  bottom: 100.0%;
  height: 0.43cm;
  width: 0.4cm;
  left: 8.5%;
}
.top_right_clip-two-end-25mm{
  position: absolute;
  bottom: 100.0%;
  height: 0.43cm;
  width: 0.4cm;
  right: 7.0%;
}
.left-super-lanyard-two-end-25mm {
  position: absolute;
  top: 0;
  left: 10%;
  height: 7.2cm;
  width: 0.4cm;
  border: 1px solid black;
  background-color: white;

}

.right-super-lanyard-two-end-25mm {
  position: absolute;
  top: 0;
  right: 10%;
  height: 7.2cm;
  width: 0.4cm;
  border: 1px solid black;
  background-color: white;

}






/* 25mm */

.top_left_clip-two-end-30mm{
  position: absolute;
  bottom: 100%;
  height: 0.6cm;
  width: 0.55cm;
  left: 6.2%;
}
.top_right_clip-two-end-30mm{
  position: absolute;
  bottom: 100%;
  height: 0.6cm;
  width: 0.55cm;
  right: 4%;
}


.left-super-lanyard-two-end-30mm {
  position: absolute;
  top: 0;
  left: 10%;
  height: 7.2cm;
  width: 0.48cm;
  border: 1px solid black;
  background-color: white;

}

.right-super-lanyard-two-end-30mm {
  position: absolute;
  top: 0;
  right: 10%;
  height: 7.2cm;
  width: 0.48cm;
  border: 1px solid black;
  background-color: white;

}







.top_left_clip-one-end-10mm-attachment{
  position: absolute;
  bottom: 101.5%;
  height: 0.3cm;
  width: 0.25cm;
  left: 11.7%;
}
.top_right_clip-one-end-10mm-attachment{
  position: absolute;
  bottom: 101.5%;
  height: 0.3cm;
  width: 0.25cm;
  right:  10.4%;
}

.left-super-lanyard-one-end-10mm-attachment{
  position: absolute;
  height: 4.5cm;
  width: 0.16cm;
  top: 0%;
  left: 29%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(11.3deg) perspective(11.3vw);
  z-index: 0;
}
.right-super-lanyard-one-end-10mm-attachment{
  position: absolute;
  height: 4.5cm;
  width: 0.16cm;
  top: 0%;
  right: 29%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(-11.3deg) perspective(11.3vw);
  z-index: 0;
}
.center-super-lanyard-one-end-10mm-attachment{
  position: absolute;
  height: 2cm;
  width: 0.16cm;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  z-index: 0;
  overflow: hidden;
}








.top_left_clip-one-end-15mm-attachment{
  position: absolute;
  bottom: 100.6%;
  height: 0.35cm;
  width: 0.31cm;
  left: 10.4%;
}
.top_right_clip-one-end-15mm-attachment{
  position: absolute;
  bottom: 100.6%;
  height: 0.35cm;
  width: 0.31cm;
  right:  9.2%;
}

.left-super-lanyard-one-end-15mm-attachment{
  position: absolute;
  height: 4.5cm;
  width: 0.24cm;
  top: 0%;
  left: 27.5%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(11.3deg) perspective(11.3vw);
  z-index: 0;
}
.right-super-lanyard-one-end-15mm-attachment{
  position: absolute;
  height: 4.5cm;
  width: 0.24cm;
  top: 0%;
  right: 27.5%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(-11.3deg) perspective(11.3vw);
  z-index: 0;
}
.center-super-lanyard-one-end-15mm-attachment{
  position: absolute;
  height: 2cm;
  width: 0.24cm;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  z-index: 0;
  overflow: hidden;
}












.top_left_clip-one-end-20mm-attachment{
  position: absolute;
  bottom: 99.6%;
  height: 0.43cm;
  width: 0.4cm;
  left: 8.8%;
}
.top_right_clip-one-end-20mm-attachment{
  position: absolute;
  bottom: 99.6%;
  height: 0.43cm;
  width: 0.4cm;
  right: 7.3%;
}

.left-super-lanyard-one-end-20mm-attachment{
  position: absolute;
  height: 4.5cm;
  width: 0.32cm;
  top: 0%;
  left: 26%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(11.3deg) perspective(11.3vw);
  z-index: 0;
}
.right-super-lanyard-one-end-20mm-attachment{
  position: absolute;
  height: 4.5cm;
  width: 0.32cm;
  top: 0%;
  right: 26%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(-11.3deg) perspective(11.3vw);
  z-index: 0;
}
.center-super-lanyard-one-end-20mm-attachment{
  position: absolute;
  height: 2cm;
  width: 0.32cm;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  z-index: 0;
  overflow: hidden;
}











.top_left_clip-one-end-25mm-attachment {
  position: absolute;
  bottom: 99.1%;
  height: 0.5cm;
  width: 0.47cm;
  left: 7.8%;
}

.top_right_clip-one-end-25mm-attachment {
  position: absolute;
  bottom: 99.1%;
  height: 0.5cm;
  width: 0.47cm;
  right: 5.6%;
}

.left-super-lanyard-one-end-25mm-attachment{
  position: absolute;
  height: 4.5cm;
  width: 0.4cm;
  top: 0%;
  left: 24.5%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(11.3deg) perspective(11.3vw);
  z-index: 0;
}
.right-super-lanyard-one-end-25mm-attachment{
  position: absolute;
  height: 4.5cm;
  width: 0.4cm;
  top: 0%;
  right: 24.5%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(-11.3deg) perspective(11.3vw);
  z-index: 0;
}
.center-super-lanyard-one-end-25mm-attachment{
  position: absolute;
  height: 2cm;
  width: 0.4cm;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  z-index: 0;
  overflow: hidden;
}












.top_left_clip-one-end-30mm-attachment {
position: absolute;
bottom: 99.0%;
height: 0.6cm;
width: 0.55cm;
left: 6.8%;
}

.top_right_clip-one-end-30mm-attachment {
position: absolute;
bottom: 99.0%;
height: 0.6cm;
width: 0.55cm;
right: 4.2%;
}
.left-super-lanyard-one-end-30mm-attachment{
  position: absolute;
  height: 4.5cm;
  width: 0.48cm;
  top: 0%;
  left: 23%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(11.3deg) perspective(11.3vw);
  z-index: 0;
}
.right-super-lanyard-one-end-30mm-attachment{
  position: absolute;
  height: 4.5cm;
  width: 0.48cm;
  top: 0%;
  right: 23%;
  background-color: white;
  border: 1px solid black;
  transform:  skewX(-11.3deg) perspective(11.3vw);
  z-index: 0;
}
.center-super-lanyard-one-end-30mm-attachment{
  position: absolute;
  height: 2cm;
  width: 0.48cm;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  z-index: 0;
  overflow: hidden;
}
/**/
