.section_payment_confirmation{
  position: relative;
  width: 100%;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.section_payment_confirmation h1{
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: calc(2.3em + 2.3vw);
  font-weight: 200;
  margin: 5vw 0 3vw 0;
  padding: 0px;
}
.section_payment_confirmation p{
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: calc(0.8em + 0.8vw);
  font-weight: 200;
  margin: 0 0 3vh 0;
  padding: 0px;
}




.container_payment_confirmation{
  position: relative;
  width: 90%;


  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: row;
  flex-wrap:wrap;
}


.boxes_payment_confirmation{
  position: relative;
  min-width: 280px;
  margin: 3vw 0;
  padding: 3vw;

  background: rgba(0,28,111, .6);
  min-width: 60vw;

  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.boxes_payment_confirmation img{
  position: relative;
  height: 90px;
  width: 90px;

}
.cases_payment_confirmation{
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.cases_payment_confirmation img{
  width: 10%;
}
.buttons_payment_confirmation{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
}
.buttons_payment_confirmation button{
  padding: calc(0.1vw + 0.1em) calc(0.6vw + 0.6em);
  z-index: 10;
  max-height: 70px;
  font-size: calc(0.8vw + 0.8em);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(141, 67, 68, .9);
  color: white;
  font-weight: 300;
  text-shadow: 2px 2px 0px black;
  cursor: pointer;
  margin: 3vw;
}
.cases_payment_confirmation:nth-child(2){
  display: none;
}
