.section_payment_confirmation{
  position: relative;
  width: 100%;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.section_payment_confirmation h1{
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: calc(2.3em + 2.3vw);
  font-weight: 200;
  margin: 0 0 3vh 0;
  padding: 0px;
}
.section_payment_confirmation p{
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: calc(0.8em + 0.8vw);
  font-weight: 200;
  margin: 0 0 3vh 0;
  padding: 0px;
}
.container_payment_confirmation{
  position: relative;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: row;
  flex-wrap:wrap;
}
/*.........Contenedor de la izquierda.................*/

.boxes_payment_confirmation{
  position: relative;
  min-width: 280px;
  margin: 15px;

  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
@media (max-width: 540px) {
  .boxes_payment_confirmation{
    background: red;
  }
}

.boxes_payment_confirmation:nth-child(2){
  width: 30%;
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  background-color: rgba(0,28,111, .6);
}

/*.............Contenedor de la derecha................*/
.title_boxes_payment_confirmation{
  position: relative;
  margin: 15px 0;
  padding: 0px;
  color: white;
  font-weight: 400;
  font-size: calc(1.1em + 1.1vw);
}
.boxes_container_payment_confirmation{
  position: relative;
  padding: 1px;
  width: 100%;

  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
}
.items2_payment_confirmation{
  position: relative;
  width: 90%;
  padding: 25px 10px;

  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}
.items2_payment_confirmation h3{
  position: relative;
  font-size: 1.5em;
  font-weight: 400;
  text-align:left;
  margin: 0px;
  padding: 0px;
  color: white;
  width: 45%;
}
.items2_payment_confirmation h3:nth-child(1){
  width: 35%;
}
.items2_payment_confirmation h3:nth-child(2){
  width: 20%;
}
.elements_boxes_container_payment_confirmation{
  position: relative;
  width: 90%;
  padding: 10px;
  background-color: rgba(0, 0, 0, .5);

  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}
.elements_boxes_container_payment_confirmation:nth-child(odd){

}
.elements_boxes_container_payment_confirmation:nth-child(even){
}
.elements_boxes_container_payment_confirmation h3{
  position: relative;
  font-size: 1.1em;
  font-weight: 300;
  text-align:left;
  margin: 0px;
  padding: 7px 0;
  color: white;
}
.elements_boxes_container_payment_confirmation h3:nth-child(1){
  width: 75%;
}
.elements_boxes_container_payment_confirmation h3:nth-child(2){
  width: 20%;
}
/*.............Contenedor derecha mitad................*/

.boxes2_container_payment_confirmation{
  position: relative;
  padding: 1px;
  width: 100%;
  margin: 20px 0;


  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
}
.elements_boxes2_container_payment_confirmation{
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  padding: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 3px solid rgba(255, 255, 255, .5);

}
.elements_boxes2_container_payment_confirmation h3{
  position: relative;
  font-size: 1.1em;
  font-weight: 300;
  text-align:left;
  margin: 0px;
  padding: 7px 0;
  color: white;
}
.elements_boxes2_container_payment_confirmation h3:nth-child(1){
  width: 75%;
}
.elements_boxes2_container_payment_confirmation h3:nth-child(2){
  width: 20%;
}
/*.............Contenedor card................*/

.boxes_card_container_payment_confirmation{
  position: relative;
  width: 100%;
  padding-left: 15px;

  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.boxes_card_container_payment_confirmation label{
  position: relative;
  margin: 10px 0;

  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;

}
.boxes_card_container_payment_confirmation img{
  width: 35px;
  height: auto;
  margin: 0 3px;
}
.boxes_card_container_payment_confirmation input{
  margin: 0 10px;
}
.boxes_card_container_payment_confirmation h4{
  font-weight: 300;
  margin:  5px;
}
.form_card_container_payment_confirmation{
  position: relative;
  width: 90%;

  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.form_card_container_payment_confirmation input{
  position: relative;
  width: 80%;

  padding-left: 4px;
  font-size: 1em;
  min-height: 20px;
}
.form_card_container_payment_confirmation label{
  position: relative;
  padding-left: 10px;
  font-weight: 100;
}

.form_card_container_payment_confirmation p{
  position: relative;
  text-align: left;
  font-size: 1em;
  color: rgba(240, 240, 240, .6);
  margin: 0;
  padding-left: 10px;
  text-shadow: 0px 0px 0px transparent;
}
.button_payment_confirmation_paypal{
  position: relative;
  width: 70%;
  background:  rgb(255, 196, 57)!important;
  padding: 8px 0 3px 0 !important;
  display: none;
}
.button_payment_confirmation_paypal img{
  position: relative;
  width: 60px;

}

/*.............Contenedor derecha abajo................*/

.boxes3_container_payment_confirmation{
  position: relative;
  padding: 1px;
  width: 100%;
  margin: 10px 0;

  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
}
.boxes3_container_payment_confirmation label{
  width: 90%;
  cursor: pointer;
}
.boxes3_container_payment_confirmation input[type="checkbox"]{
  cursor: pointer;
}

.boxes3_container_payment_confirmation button{
  position: relative;
  background: rgba(255, 0, 0, .3);
  color: white;
  font-size: 1.2em;
  margin: 15px 0px;
  font-weight: 300;
  padding: 5px 20px;
  cursor: pointer;
}














.boxes_payment_confirmation:nth-child(1){
  width: 60%;
  background: rgba(0,28,111, .6);

}
.form_boxes_payment_confirmation{
  position: relative;
  width: 100%;
  margin: 3vw 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.items_form_boxes_payment_confirmation{
  position: relative;
  width: 100%;
  margin: 5px 0;
  max-width: 550px;
  min-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.items_form_boxes_payment_confirmation_half{
  width: 44%;
  min-width: 180px;
}

.items_form_boxes_payment_confirmation input{
  margin-top: 7px;
  padding: 0 0 0 4px;
  min-height: 35px;
  width: 80%;
  background: rgba(240, 240, 240, .8);
  font-size: 1em;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.items_form_boxes_payment_confirmation label{
  width: 80%;
  padding: 10px;
  text-align: left;
}
.items_form_boxes_payment_confirmation_checkbox{
  position: relative;
  width: 80%;
  margin: 15px 0;
  min-height: 35px;
  text-align: left;
}
.active_form_boxes_payment_confirmation{
  display: none;
}
